.footer__columns {
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 48px;
  }

  @media (min-width: 768px){
    .footer__columns {
      flex-direction: row;
      gap: 68px;
}
}

@media (min-width: 1024px){
  .footer__columns {
    gap: 277px;
}
}

@media (min-width: 1280px){
  .footer__columns {
    gap: 533px;
}
}
