.cover__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
/* or 114% */
    text-align: center;
    margin: 0;
}

@media (min-width: 768px) {
    .cover__subtitle{
        display: flex;
        font-size: 18px;
        line-height: 22px;
        padding-left: 40px;
        padding-right: 40px;
        justify-content: center;
    }
}