.header {
    min-height: 42px; 
    min-width: 288px;  
    /* выше установили ограничения для секции */    
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: 16px 16px 0 16px;
    z-index: 1;
  }