.place__link {
    width: 288px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
/* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 12px auto 0;
  }

  .place__link:hover {
    opacity: 0.8;
  }

  @media screen and (min-width: 1024px) {
    .place__link {
        margin: 0;
        position: relative;
        bottom: 0;
        left: 0;
    }
}